<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div>
  <div>
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :handle, "Username" %>
      <%= f.text_field :handle %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account" %>
    <% end %>
  </div>
</div>
